:root {
	--sidebar-active: rgba(171, 115, 211, 1);
	--links: rgba(171, 115, 211, 1);
}

.menu-bar {
	padding: 5px;
	margin: 20px;
	background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(85,9,121,0.1) 22%, rgba(0,60,255,0.1) 100%);
	border-radius: 0 0 10px 10px;
}

.sidebar {
	border-radius: 0 10px 10px 0;
}

.chapter-item {
	border-radius: 10px;
	transition: 0.3s all ease;
	padding: 5px;
}

.chapter-item:hover {
	background: rgba(171, 115, 211, 0.3);
	padding-left: 7px;

}

